<div class="access">
  <h1 class="access__heading">Welcome, you are now logged in.</h1>
  <div class="access__group">
    <a class="access__link" href="/profile">Profile</a>
  </div>
  <div class="access__group">
    <a class="access__link" href="/friends">Friends</a>
  </div>
  <div class="access__group">
    <form class="access__form" action="/logout?_method=DELETE" method="POST">
      <button class="access__btn" type="submit">Logout</button>
    </form>
  </div>
</div>
