<section class="password">
<h1>Update your password</h1>
<div class="password__message">
  <% if (messages.length == 1) { %> <% messages.forEach((message) => { %>
  <p><%= message %></p>

  <% })} %>
</div>
<form class="password__form" action="/password" method="POST">
  <input class="password__input" type="password" name="password" id="password" placeholder="Current Password" required>
  <input class="password__input" type="password" name="passwordNew" id="password" placeholder="New password" required>
  <input class="password__input" type="password" name="passwordNew2" id="" placeholder="Confirm password" required>
  <button class="password__btn" type="submit">Submit</button>
</form>
</section>